{% extends 'templates/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">


{% block body %}


  {% include 'templates/scripts.html' %}


<div class="breadcrumb-area set-bg" data-setbg="{% static 'img/breadcrumb/breadcrumb-normal.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="card mx-auto" style="width: 40rem;">
        <img src="{{ user.profile.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">名前: {{ user.username }}</h4>
          <br>
          <h4 class="card-text">メール: {{ user.email }}</h4>
          <a href={% url 'profile_update' %} class="btn btn-primary">更新</a>
          <a href={% url 'logout' %} class="btn btn-primary">ログアウト</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}