{% extends 'templates/base.html' %}
{% load static %}

{% block body %}
    <!-- Page Preloder -->
    

    <!-- Hero Section Begin -->
    <section class="hero set-bg" data-setbg="{% static 'img/top1.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__text">
                        <div class="section-title">
                            <h2>アイデア無限大</h2>
                            <p>1.118.940.376 The best service package is waiting for you</p>
                        </div>
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <div class="select__option">
                                    <select>
                                        <option value="">Choose Categories</option>
                                    </select>
                                </div>
                                <div class="select__option">
                                    <select>
                                        <option value="">Choose Location</option>
                                    </select>
                                </div>
                                <button type="submit">Explore Now</button>
                            </form>
                        </div>
                        <ul class="hero__categories__tags">
                            <li><a href="#"><img src="{% static 'img/hero/cat-1.png' %}" alt=""> Restaurent</a></li>
                            <li><a href="#"><img src="{% static 'img/hero/cat-2.png' %}" alt=""> Food & Drink</a></li>
                            <li><a href="#"><img src="{% static 'img/hero/cat-3.png' %}" alt=""> Shopping</a></li>
                            <li><a href="#"><img src="{% static 'img/hero/cat-4.png' %}" alt=""> Beauty</a></li>
                            <li><a href="#"><img src="{% static 'img/hero/cat-5.png' %}" alt=""> Hotels</a></li>
                            <li><a href="#"><img src="{% static 'img/hero/cat-6.png' %}" alt=""> All Categories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <!-- Work Section Begin -->
    <section class="work spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>How Does It Work</h2>
                            <p>”アイデア・ジェネレーターの遊び方”</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="work__item">
                            <div class="work__item__number">01.</div>
                            <img src="{% static 'img/work/work-1.png' %}" alt="">
                            <h5>カテゴリーを三つ選んでください</h5>
                            <p>沢山のカテゴリーの中から、気になるカテゴリーを組み合わせてみましょう！</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="work__item">
                            <div class="work__item__number">02.</div>
                            <img src="{% static 'img/work/work-2.png' %}" alt="">
                            <h5>アイデアを考える</h5>
                            <p>組み合わされたカテゴリーから、あなたのアイデアをどんどん考えましょう！
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="work__item">
                            <div class="work__item__number">03.</div>
                            <img src="{% static 'img/work/work-3.png' %}" alt="">
                            <h5>アイデアを投稿する</h5>
                            <p>実際に、いいと思ったアイデアをアイデア掲示板に投稿しましょう！</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Work Section End -->

    <!-- Most Search Section Begin -->
    <section id="ig" class="most-search spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Idea Generator</h2>
                        <p>好きなカテゴリーを3つ選んでください</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="most__search__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <span class="flaticon-039-fork"></span>
                                    サイエンス
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                    <span class="flaticon-030-kebab"></span>
                                    環境
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                    <span class="flaticon-032-food-truck"></span>
                                    社会
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                    <span class="flaticon-017-croissant"></span>
                                    文化・教育
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab">
                                    <span class="flaticon-038-take-away"></span>
                                    人間
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
                                    <span class="flaticon-031-delivery"></span>
                                    オリジナル
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="item col-md-2">
                                        <button type="button" id="phisi" data-id="物理" class="button big_category btn btn-outline-primary">物理</button>
                                        <ul class="category_lists">
                                            {% for key, values in phisi.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-2">
                                        <button type="button" id="medi" data-id="医学" class="button big_category btn btn-outline-primary">医学</button>
                                        <ul class="category_lists">
                                            {% for key, values in medi.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-2">
                                        <button type="button" id="chemi" data-id="化学" class="button big_category btn btn-outline-primary">化学</button>
                                        <ul class="category_lists">
                                            {% for key, values in chemi.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-2">
                                        <button type="button" id="tech1_" data-id="テクノロジー１" class="button big_category btn btn-outline-primary">テクノロジー１</button>
                                        <ul class="category_lists">
                                            {% for key, values in tech1_.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-2">
                                        <button type="button" id="tech2_" data-id="テクノロジー２" class="button big_category btn btn-outline-primary">テクノロジー２</button>
                                        <ul class="category_lists">
                                            {% for key, values in tech2_.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="item col-md-3">
                                        <button type="button" id="energy" data-id="エネルギー" class="button big_category btn btn-outline-success">エネルギー</button>
                                        <ul class="category_lists">
                                            {% for key, values in energy.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="nature" data-id="自然" class="button big_category btn btn-outline-success">自然</button>
                                        <ul class="category_lists">
                                            {% for key, values in nature.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="agri" data-id="農業" class="button big_category btn btn-outline-success">農業</button>
                                        <ul class="category_lists">
                                            {% for key, values in agri.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="space" data-id="宇宙" class="button big_category btn btn-outline-success">宇宙</button>
                                        <ul class="category_lists">
                                            {% for key, values in space.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="container">
                                    <div class="row">
                                        <div class="item col-md-2">
                                            <button type="button" id="buisiness" data-id="ビジネス" class="button big_category btn btn-outline-warning">ビジネス</button>
                                            <ul class="category_lists">
                                                {% for key, values in buisiness.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                
                                        <div class="item col-md-2">
                                            <button type="button" id="infra" data-id="インフラ" class="button big_category btn btn-outline-warning">医学</button>
                                            <ul class="category_lists">
                                                {% for key, values in infra.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                
                                        <div class="item col-md-2">
                                            <button type="button" id="poli" data-id="政治" class="button big_category btn btn-outline-warning">政治</button>
                                            <ul class="category_lists">
                                                {% for key, values in poli.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                
                                        <div class="item col-md-2">
                                            <button type="button" id="nation" data-id="国" class="button big_category btn btn-outline-warning">国</button>
                                            <ul class="category_lists">
                                                {% for key, values in nation.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                
                                        <div class="item col-md-2">
                                            <button type="button" id="inst1_" data-id="施設１" class="button big_category btn btn-outline-warning">施設１</button>
                                            <ul class="category_lists">
                                                {% for key, values in inst1_.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="item col-md-2">
                                            <button type="button" id="inst2_" data-id="施設２" class="button big_category btn btn-outline-warning">施設２</button>
                                            <ul class="category_lists">
                                                {% for key, values in inst2_.items %}
                                                    <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="item col-md-3">
                                        <button type="button" id="edu" data-id="教育" class="button big_category btn btn-outline-info">教育</button>
                                        <ul class="category_lists">
                                            {% for key, values in edu.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="cust" data-id="習慣" class="button big_category btn btn-outline-info">習慣</button>
                                        <ul class="category_lists">
                                            {% for key, values in cust.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="art" data-id="芸術" class="button big_category btn btn-outline-info">芸術</button>
                                        <ul class="category_lists">
                                            {% for key, values in art.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-3">
                                        <button type="button" id="life" data-id="生活・暮らし" class="button big_category btn btn-outline-info">生活・暮らし</button>
                                        <ul class="category_lists">
                                            {% for key, values in life.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-5" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="item col-md-4">
                                        <button type="button" id="sense" data-id="五感" class="button big_category btn btn-outline-secondary">五感</button>
                                        <ul class="category_lists">
                                            {% for key, values in sense.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-4">
                                        <button type="button" id="feeling" data-id="感情" class="button big_category btn btn-outline-secondary">感情</button>
                                        <ul class="category_lists">
                                            {% for key, values in feeling.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                    <div class="item col-md-4">
                                        <button type="button" id="bp" data-id="体のパーツ" class="button big_category btn btn-outline-secondary">体のパーツ</button>
                                        <ul class="category_lists">
                                            {% for key, values in bp.items %}
                                                <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-6" role="tabpanel">
                            <div class="item">
                                <button type="button" id="feeling" data-id="五感" class="button big_category btn btn-outline-secondary">五感</button>
                                <ul class="category_lists">
                                    {% for key, values in feeling.items %}
                                        <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category  list-group-item list-group-item-action">{{ values }}</button></li>
                                    {% endfor %}
                                        
                                        
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Most Search Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="generator">
            <p id="choice">三つ選択してください</p>
            <div class="generator_container">
                <div class="item">
                    <p id="selected1">選択してください</p>
                </div>
                <div class="item">
                    <p id="selected2">選択してください</p>
                </div>
                <div class="item">
                    <p id="selected3">選択してください</p>
                </div>
                <div class="item">
                    <form method="GET" action="{% url 'posted:post_new' %}">
                        <input type="radio" name="test1" value="" checked>
                        <input type="radio" name="test2" value="" checked>
                        <input type="radio" name="test3" value="" checked>
                        <div class="number">
                        {% csrf_token %}
                        {{ form.as_p }}
                        </div>
                        <input class="submit btn btn-primary btn-lg" type="submit" value="アイデア生成">
                    </form>
                </div>
                <div class="item">
                    <button type="button" id="clear" class="clear btn btn-secondary btn-lg">クリア</button>
                </div>
            </div>     
        </div>
        {% if text %}
        <div class="idea_generated">
            <p>{{ text }} </p>
        </div>
        {% endif %}
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->

    {% endblock body %}
  
    
