
body{
    padding: 20px;
}

p {
    font-weight: bold;
    font-size: 20px;
}

input[type=radio] {
    display: none;
}
.close{
    display: none !important;
}

main {
    display: block;
    margin: 0 auto;
    width: 95%;

}

.title {
    margin: 30px;
    font-size: 50px;
    text-align: center;
}

.category {
    padding-bottom: 250px;
}

.category_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.category .item {
    flex-basis: 33.3%;
    margin: 0;
    padding: 2% 3%;
    border: 1px solid #cacaca;
}

.big_category {
    display: block;
    height: 60px;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}

.category_dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 380px;
    padding: 0;
    margin: 0;
    
}

.small_category {
    font-size: 13px;
    max-width: 200px;
    min-width: 100px;
    margin: 0 auto;
    padding: 0.65rem 0.55rem;
}   

.generator_container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.item li {
    list-style-type: none;
}

footer {
    z-index: 1000;
    position: fixed; /* フッターを固定する */
    bottom: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100%; /* フッターの横幅を指定する */
    height: 200px; /* フッターの高さを指定する */
    padding:10px; /* フッター内側の余白を指定する(上下左右) */
    background-color: #fff; /* フッターの背景色を指定する */
    color: #000; /* フッターのフォントの色を指定する */
    border-top: 1px solid #000;
}

#choice {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.generator_container {
    height: 90px;
}

.generator_container .item {
    width:200px;
}

.item p {
    text-align: center;
    line-height: 90px;
}

.clear,
.submit {
    font-size: 13px;
    width: 100%;
    min-width: 100px;
    margin: 2px 0;
    max-width: 240px;
    font-weight: bold;
    display: block;
}

.idea_generated{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.idea_generated p{
    font-size: 30px;
}
