{% extends 'IG/base.html' %}


{% block body %}

<main>


    <h1 class="title">Idea Generator</h1>

    <div class="category">
        <div class="category_container">
            <div class="item">
                <!-- <button type="button" id="tech" data-id="テクノロジー" class="button btn btn-outline-primary">テクノロジー</button> -->
                <button type="button" id="tech" data-id="テクノロジー" class="button big_category btn btn-outline-primary">テクノロジー</button>
                <ul class="category_dropdown">
                    {% for key, values in tech.items %}
                        <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category list-group-item list-group-item-action">{{ values }}</button></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="item">
                <!-- <button type="button" id="agri" data-id="農業" class="button btn btn-outline-secondary">農業</button> -->
                <button type="button" id="agri" data-id="農業" class="button big_category btn btn-outline-success">農業</button>
                <ul class="category_dropdown">
                    {% for key, values in agri.items %}
                        <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category  list-group-item list-group-item-action">{{ values }}</button></li>
                    {% endfor %}
                        
                </ul>
            </div>
            <div class="item">
                <!-- <button type="button" id="web" data-id="WEB" class="button btn btn-outline-success">WEB</button> -->
                <button type="button" id="web" data-id="WEB" class="button big_category btn btn-outline-info">WEB</button>
                <ul class="category_dropdown">
                    {% for key, values in web.items %}
                        <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category  list-group-item list-group-item-action">{{ values }}</button></li>
                    {% endfor %}
                        
                        
                </ul>
            </div>
            <div class="item">
                <!-- <button type="button" id="AI" data-id="AI" class="button btn btn-outline-danger">AI</button> -->
                <button type="button" id="AI" data-id="AI" class="button big_category btn btn-outline-danger">AI</button>
                <ul class="category_dropdown">
                    {% for key, values in AI.items %}
                        <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category  list-group-item list-group-item-action">{{ values }}</button></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="item">
                <!-- <button type="button" id="religion" data-id="宗教" class="button btn btn-outline-warning">宗教</button> -->
                <button type="button" id="religion" data-id="宗教" class="button big_category btn btn-outline-warning">宗教</button>
                <ul class="category_dropdown">
                    {% for key, values in religion.items %}
                        <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category  list-group-item list-group-item-action">{{ values }}</button></li>
                    {% endfor %}
                        
                        
                </ul>
            </div>
            <div class="item">
                <!-- <button type="button" id="feeling" data-id="五感" class="button btn btn-outline-dark">五感</button> -->
                <button type="button" id="feeling" data-id="五感" class="button big_category btn btn-outline-secondary">五感</button>
                <ul class="category_dropdown">
                    {% for key, values in feeling.items %}
                        <li><button type="button" id="{{ key }}" data-id="{{ values }}" class="button small_category  list-group-item list-group-item-action">{{ values }}</button></li>
                    {% endfor %}
                        
                        
                </ul>
            </div>

        </div>
    </div>
        
</main>

<footer>
    <div class="generator">
        <p id="choice">三つ選択してください</p>
        <div class="generator_container">
            <div class="item">
                <p id="selected1">選択してください</p>
            </div>
            <div class="item">
                <p id="selected2">選択してください</p>
            </div>
            <div class="item">
                <p id="selected3">選択してください</p>
            </div>
            <div class="item">
                <button type="button" id="clear" class="clear btn btn-secondary btn-lg">クリア</button>

                <form method='get' action="">
                    <!-- {{ form.tech.label }}
                    {{ form.tech }}
                    {{ form.agri.label }}
                    {{ form.agri }}
                    {{ form.web.label }} -->
                    <!-- {{ form.feeling.label }} -->
                    <input type="radio" name="test1" value="" checked>
                    <input type="radio" name="test2" value="" checked>
                    <input type="radio" name="test3" value="" checked>
                    <input class="submit btn btn-primary btn-lg" type="submit" value="アイデア生成">
                </form>
            </div>
        </div>        
    </div>

    {% if text %}
    <div class="idea_generated">
        <p>{{ text }} </p>
    </div>
    {% endif %}
</footer>

<script type="text/javascript">
    var num = 0;
    $('.button').on('click', function(){
        $(this).data("click", ++num);
        var click =  $(this).data('id');
        var id =  $(this).attr('id');
        if (num == 1) {
            $('#selected1').text(click);
            $('input[name="test1"]').val(id);
        }else if (num == 2) {
            $('#selected2').text(click);
            $('input[name="test2"]').val(id);
        }else if (num == 3) {
            $('#selected3').text(click);
            $('input[name="test3"]').val(id);
        }else if (num > 3) {
            $('#choice').text('もう選択できません');
        }

    });
    $('#clear').on('click', function(){
        num = 0;
        $('#selected1').text('選択してください');
        $('#selected2').text('選択してください');
        $('#selected3').text('選択してください');
        $('#choice').text('三つ選択してください');
    });
    $('.submit').on('click', function(){
        num = 0;
    });

    // $('.dropdown').hover(
    //     function() {
    //         //カーソルが重なった時
    //         $(this).find('.small_category').removeClass('close');
    //     }, function() {
    //         //カーソルが離れた時
    //         $(this).find('.small_category').addClass('close');
    //     }
    // );

</script>



{% endblock body %}